<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TRaaS Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57699D9D1C0EC2230059455B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57699DB11C0EC2230059455B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57699DBC1C0EC2230059455B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
